[user]
    name = Vladyslav, Archivadze
    email = svatvlad1993@gmail.com
    password =
[http]
    sslVerify = false
    proxy =
[https]
    sslverify = false
    proxy =
[push]
    default = simple
[credential]
    helper = cache --timeout=360000000
[core]
    autocrlf = false