<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %c{1} - %msg%n"/>
        </Console>
        <File name="MyBatisLog" fileName="mybatis.log">
            <PatternLayout pattern="%d [%t] %-5level %c{1} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyBatisLog"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
